.reportOptionsContainer {
    width: 60%;
    margin-right: 5%;

    > p:nth-of-type(1) {
        font-size: 0.9rem;
        color: #000000;
        margin: 0 0 23px 0;
    }

    > div:nth-of-type(1) {
        background-color: #F0F4FD;
        padding: 12px 5px 12px 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > img {
            margin-right: 17px;
        }

        > p {
            margin: 0;
            font-weight: 500;
            font-size: 0.8rem;
            color: #000000;

            > span {
                font-size: 1rem;
            }
        }
    }

    > div:nth-of-type(2) {
        padding: 24px 0px 22px 15px;
        border: 1px solid #F0F4FD;
        box-sizing: border-box;
        margin-bottom: 29px;

        > p:nth-of-type(1) {
            font-size: 0.7rem;
            color: #000000;
            margin: 0 0 20px 0;
        }

        > div:nth-of-type(2) {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            > p {
                font-weight: 500;
                font-size: 0.7rem;
                margin: 0 0 30px 0;
                color: #000000;
            }

            > div {
                position: relative;

                &:after {
                    content: 'Websites';
                    position: absolute;
                    top: calc(50% - 0.7rem/2);
                    right: 5px;
                    font-weight: 500;
                    font-size: 0.7rem;
                    color: #000000;
                }

                > input {
                    background-color: #FFFFFF;
                    border: 1px solid #C4C4C4;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding: 10px 0 9px 18px;
                    outline: none;
                    font-weight: 500;
                    font-size: 1rem;
                    color: #6E6B6B;

                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    &[type=number] {
                        -moz-appearance:textfield;
                    }
                }
            }

        }
    }

    > div:nth-of-type(3) {
        background-color: #F0F4FD;
        padding: 12px 5px 12px 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > img {
            margin-right: 17px;
        }

        > p {
            margin: 0;
            font-weight: 500;
            font-size: 0.8rem;
            color: #000000;

            > span {
                font-size: 1rem;
            }
        }
    }

    > div:nth-of-type(4) {
        padding: 24px 0 22px 15px;
        border: 1px solid #F0F4FD;
        box-sizing: border-box;

        > div:nth-child(odd) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 9px;

            > input {
                margin: 0 6px 0 0;
                background-color: #FFFFFF;
                border: 1px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 1px;
                cursor: pointer;
            }
    
            > label {
                margin: 0;
                font-size: 0.7rem;
                color: #000000;
                cursor: pointer;
    
                > span {
                    font-weight: bold;
                }
            }
        }

        > .rangeWithIconContainer {
            display: flex;
            margin-top: 20px;
            margin-bottom: 30px;
            position: relative;

            > .infinityIcon {
                position: absolute;
                border: 3px solid #3898DE;
                border-radius: 50%;
                color: #3898DE;
                box-sizing: border-box;
                font-size: 20px;
                padding: 2.5px 0;
                left: calc(80% + 14px);
                background-color: white;
            }
        }

        > button {
            display: inline-block;
            background-color: #42C960;
            border-radius: 6px;
            padding: 13px 31px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1rem;
            color: #FFFFFF;
            transition-duration: 0.4s;
            margin-top: 30px;
            margin-left: 20px;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #3d8e4f;
            }
        }
    }
}

.hideLock{
    &:before {
        display: none;
    }
}

@media(max-width: 500px) {
    .reportOptionsContainer {
        margin: 0;
        width: 100%;
    }
}