.changePasswordContainer {
    width: 50%;

    > div:nth-of-type(1) {
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        padding: 16px 22px 38px 22px;

        > div {
            display: flex;
            align-items: center;
            margin-bottom: 17px;

            > span {
                font-size: 0.7rem;
                color: #000000;
                width: 190px;
            }

            > input {
                font-size: 1rem;
                color: #000000;
                padding-left: 14px;
                border: 1px solid #C4C4C4;
            }
        }

        > button:nth-of-type(1) {
            background-color: #3898DE;
            border-radius: 6px;
            outline: none;
            border: none;
            width: 145px;
            height: 36px;
            margin-top: 16px;
            font-weight: bold;
            font-size: 0.7rem;
            color: #FFFFFF;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                background-color: #19649a;
            }
        }
    }
}

@media(max-width: 1000px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            > button:nth-of-type(1) {
                width: 115px;
            }
        }
    }
}

@media(max-width: 900px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            padding: 16px 22px 25px 22px;

            > div {
                margin-bottom: 12px;
            }
        }
    }
}

@media(max-width: 800px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            > button:nth-of-type(1) {
                width: 100px;
                height: 30px;
            }
        }
    }
}

@media(max-width: 700px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            > div {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 9px;
            }
        }        
    }
}

@media(max-width: 600px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            > button:nth-of-type(1) {
                width: 75px;
                height: 25px;
            }
        }
    }
}

@media(max-width: 500px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            padding: 13px 13px 15px 13px;
        }        
    }
}

@media(max-width: 400px) {
    .changePasswordContainer {
        > div:nth-of-type(1) {
            > button:nth-of-type(1) {
                width: 65px;
                height: 23px;
            }
        }
    }
}